<configuration>
  <connectionStrings>
    <add name="OmopConnectionString"
         connectionString="server=imipvri-datastorage.med.uni-giessen.de;Port=5432;User id=blrom1;Password=hallo123;Database=OHDSI;"
         providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
  />
  </connectionStrings>
</configuration>
